D4EM.Data.Source/Storet/Service References/StationServiceReference/StationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://stationservice.storet.epa.gov/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="StationService" targetNamespace="http://stationservice.storet.epa.gov/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types />
  <message name="getStationsForMap">
    <part name="MinimumLatitude" type="xsd:double" />
    <part name="MaximumLatitude" type="xsd:double" />
    <part name="MinimumLongitude" type="xsd:double" />
    <part name="MaximumLongitude" type="xsd:double" />
  </message>
  <message name="getStationsForMapResponse">
    <part name="return" type="xsd:string" />
  </message>
  <message name="getStationCharacteristicsForMap">
    <part name="MinimumLatitude" type="xsd:double" />
    <part name="MaximumLatitude" type="xsd:double" />
    <part name="MinimumLongitude" type="xsd:double" />
    <part name="MaximumLongitude" type="xsd:double" />
  </message>
  <message name="getStationCharacteristicsForMapResponse">
    <part name="return" type="xsd:string" />
  </message>
  <message name="getStationCount">
    <part name="MinimumLatitude" type="xsd:double" />
    <part name="MaximumLatitude" type="xsd:double" />
    <part name="MinimumLongitude" type="xsd:double" />
    <part name="MaximumLongitude" type="xsd:double" />
  </message>
  <message name="getStationCountResponse">
    <part name="return" type="xsd:long" />
  </message>
  <message name="getStationInfo">
    <part name="StationIdentifiersInputString" type="xsd:string" />
  </message>
  <message name="getStationInfoResponse">
    <part name="return" type="xsd:string" />
  </message>
  <portType name="StationService">
    <operation name="getStationsForMap" parameterOrder="MinimumLatitude MaximumLatitude MinimumLongitude MaximumLongitude">
      <input wsam:Action="http://stationservice.storet.epa.gov/StationService/getStationsForMapRequest" message="tns:getStationsForMap" />
      <output wsam:Action="http://stationservice.storet.epa.gov/StationService/getStationsForMapResponse" message="tns:getStationsForMapResponse" />
    </operation>
    <operation name="getStationCharacteristicsForMap" parameterOrder="MinimumLatitude MaximumLatitude MinimumLongitude MaximumLongitude">
      <input wsam:Action="http://stationservice.storet.epa.gov/StationService/getStationCharacteristicsForMapRequest" message="tns:getStationCharacteristicsForMap" />
      <output wsam:Action="http://stationservice.storet.epa.gov/StationService/getStationCharacteristicsForMapResponse" message="tns:getStationCharacteristicsForMapResponse" />
    </operation>
    <operation name="getStationCount" parameterOrder="MinimumLatitude MaximumLatitude MinimumLongitude MaximumLongitude">
      <input wsam:Action="http://stationservice.storet.epa.gov/StationService/getStationCountRequest" message="tns:getStationCount" />
      <output wsam:Action="http://stationservice.storet.epa.gov/StationService/getStationCountResponse" message="tns:getStationCountResponse" />
    </operation>
    <operation name="getStationInfo">
      <input wsam:Action="http://stationservice.storet.epa.gov/StationService/getStationInfoRequest" message="tns:getStationInfo" />
      <output wsam:Action="http://stationservice.storet.epa.gov/StationService/getStationInfoResponse" message="tns:getStationInfoResponse" />
    </operation>
  </portType>
  <binding name="StationServicePortBinding" type="tns:StationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="getStationsForMap">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://stationservice.storet.epa.gov/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://stationservice.storet.epa.gov/" />
      </output>
    </operation>
    <operation name="getStationCharacteristicsForMap">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://stationservice.storet.epa.gov/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://stationservice.storet.epa.gov/" />
      </output>
    </operation>
    <operation name="getStationCount">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://stationservice.storet.epa.gov/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://stationservice.storet.epa.gov/" />
      </output>
    </operation>
    <operation name="getStationInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://stationservice.storet.epa.gov/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://stationservice.storet.epa.gov/" />
      </output>
    </operation>
  </binding>
  <service name="StationService">
    <port name="StationServicePort" binding="tns:StationServicePortBinding">
      <soap:address location="http://ofmpub.epa.gov:80/STORETwebservices/StationService/StationService" />
    </port>
  </service>
</definitions>