D4EM.Data.Source/Storet/Service References/StationService/StationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://stationservice.storet.epa.gov/" name="StationService" targetNamespace="http://stationservice.storet.epa.gov/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types />
  <message name="getStationCount">
    <part name="MinimumLatitude" type="xsd:double" />
    <part name="MaximumLatitude" type="xsd:double" />
    <part name="MinimumLongitude" type="xsd:double" />
    <part name="MaximumLongitude" type="xsd:double" />
  </message>
  <message name="getStationCountResponse">
    <part name="return" type="xsd:long" />
  </message>
  <message name="getStationsForMap">
    <part name="MinimumLatitude" type="xsd:double" />
    <part name="MaximumLatitude" type="xsd:double" />
    <part name="MinimumLongitude" type="xsd:double" />
    <part name="MaximumLongitude" type="xsd:double" />
  </message>
  <message name="getStationsForMapResponse">
    <part name="return" type="xsd:string" />
  </message>
  <message name="getStationCharacteristicsForMap">
    <part name="MinimumLatitude" type="xsd:double" />
    <part name="MaximumLatitude" type="xsd:double" />
    <part name="MinimumLongitude" type="xsd:double" />
    <part name="MaximumLongitude" type="xsd:double" />
  </message>
  <message name="getStationCharacteristicsForMapResponse">
    <part name="return" type="xsd:string" />
  </message>
  <message name="getStationInfo">
    <part name="StationIdentifiersInputString" type="xsd:string" />
  </message>
  <message name="getStationInfoResponse">
    <part name="return" type="xsd:string" />
  </message>
  <portType name="StationService">
    <operation name="getStationCount" parameterOrder="MinimumLatitude MaximumLatitude MinimumLongitude MaximumLongitude">
      <input message="tns:getStationCount" />
      <output message="tns:getStationCountResponse" />
    </operation>
    <operation name="getStationsForMap" parameterOrder="MinimumLatitude MaximumLatitude MinimumLongitude MaximumLongitude">
      <input message="tns:getStationsForMap" />
      <output message="tns:getStationsForMapResponse" />
    </operation>
    <operation name="getStationCharacteristicsForMap" parameterOrder="MinimumLatitude MaximumLatitude MinimumLongitude MaximumLongitude">
      <input message="tns:getStationCharacteristicsForMap" />
      <output message="tns:getStationCharacteristicsForMapResponse" />
    </operation>
    <operation name="getStationInfo">
      <input message="tns:getStationInfo" />
      <output message="tns:getStationInfoResponse" />
    </operation>
  </portType>
  <binding name="StationServicePortBinding" type="tns:StationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="getStationCount">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://stationservice.storet.epa.gov/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://stationservice.storet.epa.gov/" />
      </output>
    </operation>
    <operation name="getStationsForMap">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://stationservice.storet.epa.gov/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://stationservice.storet.epa.gov/" />
      </output>
    </operation>
    <operation name="getStationCharacteristicsForMap">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://stationservice.storet.epa.gov/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://stationservice.storet.epa.gov/" />
      </output>
    </operation>
    <operation name="getStationInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://stationservice.storet.epa.gov/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://stationservice.storet.epa.gov/" />
      </output>
    </operation>
  </binding>
  <service name="StationService">
    <port name="StationServicePort" binding="tns:StationServicePortBinding">
      <soap:address location="http://ofmpub.epa.gov:80/STORETwebservices/StationService/" />
    </port>
  </service>
</definitions>