D4EM.Data.Source/Storet/Service References/StoretResultService/StoretResultService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://storetresultservice.storet.epa.gov/" name="StoretResultService" targetNamespace="http://storetresultservice.storet.epa.gov/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types />
  <message name="getResults">
    <part name="OrganizationId" type="xsd:string" />
    <part name="MonitoringLocationId" type="xsd:string" />
    <part name="MonitoringLocationType" type="xsd:string" />
    <part name="MinimumActivityStartDate" type="xsd:string" />
    <part name="MaximumActivityStartDate" type="xsd:string" />
    <part name="MinimumLatitude" type="xsd:string" />
    <part name="MaximumLatitude" type="xsd:string" />
    <part name="MinimumLongitude" type="xsd:string" />
    <part name="MaximumLongitude" type="xsd:string" />
    <part name="CharacteristicType" type="xsd:string" />
    <part name="CharacteristicName" type="xsd:string" />
    <part name="ResultType" type="xsd:string" />
  </message>
  <message name="getResultsResponse">
    <part name="return" type="xsd:string" />
  </message>
  <message name="getActivityCount">
    <part name="OrganizationId" type="xsd:string" />
    <part name="ActivityId" type="xsd:string" />
    <part name="ActivityType" type="xsd:string" />
    <part name="MonitoringLocationId" type="xsd:string" />
    <part name="MonitoringLocationType" type="xsd:string" />
    <part name="ProjectId" type="xsd:string" />
    <part name="MinimumActivityStartDate" type="xsd:string" />
    <part name="MaximumActivityStartDate" type="xsd:string" />
    <part name="CharacteristicType" type="xsd:string" />
    <part name="CharacteristicName" type="xsd:string" />
  </message>
  <message name="getActivityCountResponse">
    <part name="return" type="xsd:int" />
  </message>
  <message name="getResultCount">
    <part name="OrganizationId" type="xsd:string" />
    <part name="MonitoringLocationId" type="xsd:string" />
    <part name="MonitoringLocationType" type="xsd:string" />
    <part name="MinimumActivityStartDate" type="xsd:string" />
    <part name="MaximumActivityStartDate" type="xsd:string" />
    <part name="MinimumLatitude" type="xsd:string" />
    <part name="MaximumLatitude" type="xsd:string" />
    <part name="MinimumLongitude" type="xsd:string" />
    <part name="MaximumLongitude" type="xsd:string" />
    <part name="CharacteristicType" type="xsd:string" />
    <part name="CharacteristicName" type="xsd:string" />
    <part name="ResultType" type="xsd:string" />
  </message>
  <message name="getResultCountResponse">
    <part name="return" type="xsd:int" />
  </message>
  <portType name="StoretResultService">
    <operation name="getResults" parameterOrder="OrganizationId MonitoringLocationId MonitoringLocationType MinimumActivityStartDate MaximumActivityStartDate MinimumLatitude MaximumLatitude MinimumLongitude MaximumLongitude CharacteristicType CharacteristicName ResultType">
      <input message="tns:getResults" />
      <output message="tns:getResultsResponse" />
    </operation>
    <operation name="getActivityCount" parameterOrder="OrganizationId ActivityId ActivityType MonitoringLocationId MonitoringLocationType ProjectId MinimumActivityStartDate MaximumActivityStartDate CharacteristicType CharacteristicName">
      <input message="tns:getActivityCount" />
      <output message="tns:getActivityCountResponse" />
    </operation>
    <operation name="getResultCount" parameterOrder="OrganizationId MonitoringLocationId MonitoringLocationType MinimumActivityStartDate MaximumActivityStartDate MinimumLatitude MaximumLatitude MinimumLongitude MaximumLongitude CharacteristicType CharacteristicName ResultType">
      <input message="tns:getResultCount" />
      <output message="tns:getResultCountResponse" />
    </operation>
  </portType>
  <binding name="StoretResultServicePortBinding" type="tns:StoretResultService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="getResults">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://storetresultservice.storet.epa.gov/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://storetresultservice.storet.epa.gov/" />
      </output>
    </operation>
    <operation name="getActivityCount">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://storetresultservice.storet.epa.gov/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://storetresultservice.storet.epa.gov/" />
      </output>
    </operation>
    <operation name="getResultCount">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://storetresultservice.storet.epa.gov/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://storetresultservice.storet.epa.gov/" />
      </output>
    </operation>
  </binding>
  <service name="StoretResultService">
    <port name="StoretResultServicePort" binding="tns:StoretResultServicePortBinding">
      <soap:address location="http://ofmpub.epa.gov:80/STORETwebservices/StoretResultService/" />
    </port>
  </service>
</definitions>